<html>
    <head>
        <title>Godfrey Thanks you</title>
    </head>
    <body>
        <div class="h-100 row align-items-center">
            <div class="col" >
                Thank you <%= contact.firstName %> <%= contact.lastName %>.
            </div>
          </div>
           
        
    </body>
</html>